.h1{
    margin-top: 10px;
    font-size: 72px;
}
.padder{
    padding-left: 100px;
    padding-top: 150px;
}
.wrapper{
    padding-left: 6rem;
    padding-right: 6rem;
}
.line-header{
    height:2px;
}
.line-header-text{
    width: 20%;
    text-align: center;
    font-weight: bold;
}
.lineup{
    width: 100%;
    margin-bottom: 40px;
    margin-top: 20px;
}
