<h1 class="text-center">Digs</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 content-align-center" style="padding-top:80px; padding-bottom:80px; padding-left:50px">
            <img src="https://content.discogs.com/media/50_years_hiphop_gordon-cowie-qQzw8jPvip8-unsplash.jpg" alt="chair" width="100%" height="100%">
        </div>
        <div class="col-6 content-align-center" style="padding-top:100px; padding-bottom:100px; padding-right:200px">
            <h1>50 Years of</h1>
            <h1>Hip Hop, A</h1>
            <h1>History of the</h1>
            <h1>Genre's Evolution</h1>
        </div>
      </div>
</div>