<div class="card border-1">
    <img src={{img}} class="card-img-top mx-auto" alt="oops">
    <div class="card-body" style="padding:5% 5% 5% 5%; width:100%">
      <h5 class="card-title text-truncate">{{name}}</h5>
      <p class="card-text text-truncate">{{band}}</p>
      <p class="card-info">{{year}}</p>
      <p class="card-info">{{tags}}</p>
      <p class="card-info">{{copies}} copies from ${{price}}</p>
        <div class="d-inline-block">
            <button type="button" class="btn btn-outline-dark mx-1">Shop</button>
            <button type="button" class="btn btn-outline-dark mx-1">Want</button>
        </div>
    </div>
  </div>