<div class="container-fluid bg-dark">
    <footer class="row row-cols-5 py-4 mx-5 text-white">
      <div class="col">
        <h5>Discogs</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="/SecondLayout" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link p-0 text-white">About Us</a></li>
          <li class="nav-item mb-2"><a routerLink="/DiscogsDigs" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link p-0 text-white">Discogs Digs</a></li>
          <li class="nav-item mb-2"><a routerLink="/CareersPage" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link p-0 text-white">Careers</a></li>
          <li class="nav-item mb-2"><a routerLink="/APIPage" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link p-0 text-white">API</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>Help Is Here</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Help and Support</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Forum</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Keyboard Shortcuts</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Database Guidelines</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Discogs Shipping</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>Join In</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Get Started</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Sign Up</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Record Stores</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Contribute</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Add Release</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Contributor List</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Help Translate</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Record Store Releases</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Advertise With Us</a></li>
        </ul>
      </div>
  
      <div class="col">
        <h5>Follow Us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Facebook</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Twitter</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Youtube</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Instagram</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Mixcloud</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Soundcloud</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pinterest</a></li>
        </ul>
      </div>
  
      <div class="col">
        <h5>On The Go</h5>
        <ul class="nav flex-column">
          <img src="\assets\appstore2.png" alt="App Store" width="160" height="50">
          <img src="\assets\googleplay.png" alt="Google Play" width="160" height="50">
        </ul>
      </div>
    </footer>
  </div>