<div class="container-fluid bg-black">
    <div class="header bg-black pt-4 mx-5">
        <h5 class="text-white">Trending Releases</h5>
    </div>
    <ul class="row row-cols-5 py-4 mx-5 text-white text-truncate">
        <div class="col">
          <ul class="nav column">
            <div class="card bg-black">
                <img class="card-img-top mx-auto" src="\assets\speakingintongues.png" alt="image" style="width:80%">
                <div class="card-body">
                  <h5 class="card-title text-truncate">Speaking in Tongues</h5>
                  <p class="card-text text-truncate">Talking Heads</p>
                </div>
              </div>
          </ul>
        </div>
        <div class="col">
          <ul class="nav column">
            <div class="card bg-black">
                <img class="card-img-top mx-auto" src="\assets\tigerarmy.jpg" alt="image" style="width:80%">
                <div class="card-body">
                  <h5 class="card-title text-truncate">Tiger Army</h5>
                  <p class="card-text text-truncate">Tiger Army</p>
                </div>
              </div>
          </ul>
        </div>
        <div class="col">
          <ul class="nav column">
            <div class="card bg-black">
                <img class="card-img-top mx-auto" src="\assets\flyingbeagle.jpg" alt="image" style="width:80%">
                <div class="card-body">
                  <h5 class="card-title text-truncate">Flying Beagle</h5>
                  <p class="card-text text-truncate">Himiko Kikuchi</p>
                </div>
              </div>
          </ul>
        </div>
        <div class="col">
          <ul class="nav column">
            <div class="card bg-black">
                <img class="card-img-top mx-auto" src="\assets\angles.jpg" alt="image" style="width:80%">
                <div class="card-body">
                  <h5 class="card-title text-truncate">Angles</h5>
                  <p class="card-text text-truncate">The Strokes</p>
                </div>
              </div>
          </ul>
        </div>
        <div class="col">
          <ul class="nav column">
            <div class="card bg-black">
                <img class="card-img-top mx-auto" src="\assets\mmfood.jpg" alt="image" style="width:80%">
                <div class="card-body">
                  <h5 class="card-title text-truncate">MM..Food</h5>
                  <p class="card-text text-truncate">MF DOOM</p>
                </div>
              </div>
          </ul>
        </div>
    </ul>
</div>