<div class="gs_container bg-black mx-5 px-5">
    <div class="row bg-black">
        <div class="col" style="height:400px; position:relative; padding:48px 10px 28px">
            <img src="\assets\coolGuys.webp" alt="Discogs" width="100%" height="345">
        </div>
        <div class="col-6 col-md-4" style="padding:48px 10px 28px">
            <div class="row" style="padding:0px 0px 5px">
                <img src="\assets\girlboss.webp" alt="Discogs" width="100%" height="111">
            </div>
            <div class="row" style="padding:0px 0px 5px">
                <img src="\assets\fraction.webp" alt="Discogs" width="100%" height="111">
            </div>

            <div class="row" style="padding:0px 0px 5px"> 
                <img src="\assets\record.png" alt="Discogs" width="100%" height="111">
            </div>

      </div>
</div>