<div class="container-fluid wrapper text-center">
    <div style="height:100px" aria-hidden="true" id="opportunities" class="wp-block-spacer"></div>
    <h1 class="text-spacer">Job Openings</h1>
    <p class="text-spacer">Sound like a good fit? We would love to hear from you.</p>
    <p class="text-spacer fake-link">Notice to California residents</p>
    <div style="height:50px" aria-hidden="true" id="opportunities" class="wp-block-spacer"></div>
    <h3 class="text-spacer">Finance & Accounting</h3>
    <div class="container" style="width:700px">
        <app-accordion-career></app-accordion-career>
    </div>
    <div style="height:50px" aria-hidden="true" id="opportunities" class="wp-block-spacer"></div>
</div>