<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <div class="container-fluid bg-black" style="height:2px"></div>
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        <div>
          <h6 class="role-desc">Finance and Accounting // Remote USA</h6>
          <h5 class="role">CONTRACT Senior Payroll Specialist (Part Time)</h5>
        </div>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">We are seeking a contract, part-time Senior Payroll Specialist to oversee all aspects of the payroll process for all the Discogs locations, including both U.S. and International payroll processes. It is expected that 20 hours every two weeks, with additional hours as needed.  This role requires a detail-oriented approach to ensuring accuracy and timeliness of all data inputs and outputs. It also requires the ability to stay up to date on changes in payroll regulations in locations where Discogs employs team members worldwide. This position will report to the Director of Finance.

 

            Location: This is a fully remote position open to individuals living in the following states: OR, WA, CA, TX, CO, ID, AZ, IL</div>
            <button type="button" class="btn btn-outline-dark applyButton">To Learn More and Apply</button>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <div class="container-fluid bg-black" style="height:1px"></div>
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <div>
              <h6 class="role-desc">Finance and Accounting // In Person</h6>
              <h5 class="role">SALARIED Credit Analyst (Full Time)</h5>
            </div>
            </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">We are seeking a contract, part-time Senior Payroll Specialist to oversee all aspects of the payroll process for all the Discogs locations, including both U.S. and International payroll processes. It is expected that 20 hours every two weeks, with additional hours as needed.  This role requires a detail-oriented approach to ensuring accuracy and timeliness of all data inputs and outputs. It also requires the ability to stay up to date on changes in payroll regulations in locations where Discogs employs team members worldwide. This position will report to the Director of Finance.
        </div>
        <button type="button" class="btn btn-outline-dark applyButton">To Learn More and Apply</button>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <div class="container-fluid bg-black" style="height:1px"></div>
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <div>
              <h6 class="role-desc">Finance and Accounting // Remote USA</h6>
              <h5 class="role">CONTRACT Risk Manager (Part Time)</h5>
            </div>
            </button>
      </h2>
      <div class="container-fluid bg-black" style="height:2px"></div>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Your job is to manage Risk.</div>
        <button type="button" class="btn btn-outline-dark applyButton">To Learn More and Apply</button>
      </div>
    </div>
  </div>