.role-desc{
    font-weight: bold;
    color:dimgrey;
}
.role{
    font-weight: bold;
}
.accordion-body{
    text-align: left;
}
.applyButton{
    border-radius: 0px;
    justify-self: start;
}
.applyButton:hover{
    color:white;
    background-color: black;
    border-radius:0px;
}